* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkgray;
}

.header {
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mainContent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  flex: 1 0 auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
  min-height: 200px;
}

.footer {
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
